* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0; 
  border: 0;
}

body {
  background-color: rgb(164, 181, 185);
}

header { 
  background: #141414;
  background: linear-gradient(#374241, #738292);
  align-items: center;
  display: flex;
}

.logo {
  width: 150px;
  border-radius: 1em;
  padding: .5em;
}

.phrase {
  width: 100%;
  margin-left: .8em;
  color: rgb(43, 43, 47);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 4em;
  text-align: center;
}

.menu {
  list-style: none;
  font-size: 18px;
  margin-left: 0;
  display: flex;
}

.menu a {
  text-decoration: none;
  color: rgb(207, 203, 198);
  padding: .5em 15px;
  cursor: pointer;
  font-size: 1em;  
}

.menu a:hover {
  color: rgb(179, 169, 169);
}

.quote {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.5em;  
  color: rgb(37, 37, 41); 
  padding-right: .5em;
  padding-left: .5em; 
  margin: .8em 0 1em; 
  text-align: center;
}

.container-2 {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}

.box {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px;
  background-color: rgb(126, 124, 121);
  text-align: center;
  border-radius: 1rem;
  flex-basis: 300px;
  margin-bottom: 1rem;  
  margin-left: 1rem;
}

.box p {
  padding: 0 .8em 0;  
  text-align: justify;
}

.banner-img1 {
  position: relative;
  background-image: url('/Assets/Images/overconsumption1.png');
  height: 10rem;
  flex-basis: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-img2 {
  position: relative;
  background-image: url('/Assets/Images/deforestation.jpg');
  height: 10rem;
  flex-basis: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-img3 {
  position: relative;
  background-image: url('/Assets/Images/oceans3.png');
  height: 10rem;
  flex-basis: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-img4 {
  position: relative;
  background-image: url('/Assets/Images/climatechange.jpg');
  height: 10rem;
  flex-basis: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-img5 {
  position: relative;
  background-image: url('/Assets/Images/food_crisis.jpg');
  height: 10rem;
  flex-basis: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-img6 {
  position: relative;
  background-image: url('/Assets/Images/Health_pandemics.jpg');
  height: 10rem;
  flex-basis: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-img7 {
  position: relative;
  background-image: url('/Assets/Images/Ending_Poverty.jpg');
  height: 10rem;
  flex-basis: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-img8 {
  position: relative;
  background-image: url('/Assets/Images/human_rights2.jpg');
  height: 10rem;
  flex-basis: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.issue {
  padding: 10px;
}

.box a {
  color: antiquewhite;
  text-decoration: none;
  cursor: pointer;
  display: block;
  background-color: rgb(53, 51, 51);
  padding: .2rem;  
  margin: 02rem 0 0;
}

.box a:hover {
  color: rgb(179, 169, 169);
}

.logo2 {
  width: 50px;
  padding: .2em;
}

footer {
  display: flex;  
  justify-content: space-around;
  align-items: center;  
  background: #141414;
  background: linear-gradient(#374241, #738292);
  border-radius: 6px;
}

footer p {
  color: antiquewhite;
  font-size: 18px;
}

footer h5 a {
  color: antiquewhite;  
  font-size: 18px;
}

footer h5 a:hover {
  color: rgb(164, 160, 195);
}

@media(max-width:1216px) {

  .phrase {
    font-size: 3em;
    margin-left: .8em;
  }

  .quote {
    font-weight: 250;
    font-size: 1.4em;
    line-height: 1.3em;  
    color: rgb(37, 37, 41);  
    margin: .8em; 
    text-align: center;
  }
}

@media(max-width:919px) {

  .menu a {
    font-size: .8em
  }
  
  .quote {
    font-weight: 250;
    font-size: 1.3em;
    line-height: 1.3em;  
    color: rgb(37, 37, 41);  
    margin: .8em; 
    text-align: center;
  }

  .container-3 h3 {
    font-size: 1.9em;
  }

  .phrase {
    font-size: 2.5em;
    margin-left: .8em;
  }
}

@media(max-width:623px) {

  .menu a {
    font-size: .7em;
  }

  .quote {
    font-weight: 250;
    font-size: 1.1em;
    line-height: 1.3em;  
    color: rgb(37, 37, 41);   
    margin: .8em; 
    text-align: center;
  }

  .container-3 h3 {
    font-size: 1.5em;
  }

  .phrase {
    font-size: 1.8em;
    margin-left: .8em;
  }

  footer p {
    color: antiquewhite;
    font-size: 12px;
  }
  
  footer h5 a {
    color: antiquewhite;  
    font-size: 12px;
  }
}

.box-1 {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px;
  background-color: rgb(179, 190, 200);
  border-radius: 1rem;
  flex-basis: 300px;
  padding-bottom: .5em;
  margin-bottom: 1rem;  
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-1 p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  font-size: 1em;
  padding: 0 .7em .7em;
  text-indent: 1em;
  color: rgb(41, 43, 44);
  text-align: justify;
  font-weight: 350;
}

.box-2 {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px;
  background-color: rgb(179, 190, 200);
  border-radius: 1rem;
  flex-basis: 300px;
  padding-bottom: .5em;
  margin-bottom: 1rem;  
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-2 p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
  padding: 0 .7em .7em;  
  text-indent: 1em;
  color: rgb(41, 43, 44);
  text-align: justify;
  font-weight: 350;
}

.solution ul {
  display: box;
  font-size: 1.1em;
  line-height: 1.5em;
  padding: .3em;
  color: rgb(41, 43, 44);
  margin-left: 40px;
  list-style-type: circle;
  text-align: justify;
}

.box-3 {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px;
  background-color: rgb(179, 190, 200);
  border-radius: 1rem;
  flex-basis: 300px;
  padding-bottom: .5em;
  margin-bottom: 1rem;  
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-3 p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
  padding: 0 .7em .7em;
  text-indent: 1em;
  color: rgb(41, 43, 44);
  text-align: justify;
  font-weight: 350;
}

.box-4 {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px;
  background-color: rgb(179, 190, 200);
  border-radius: 1rem;
  flex-basis: 300px;
  padding-bottom: .5em;
  margin-bottom: 1rem;  
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-4 p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
  padding: 0 .7em .7em;
  text-indent: 1em;
  color: rgb(41, 43, 44);
  text-align: justify;
  font-weight: 350;
}

.box-5 {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px;
  background-color: rgb(179, 190, 200);
  border-radius: 1rem;
  flex-basis: 300px;
  padding-bottom: .5em;
  margin-bottom: 1rem;  
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-5 p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
  padding: 0 .7em .7em;
  text-indent: 1em;
  color: rgb(41, 43, 44);
  text-align: justify;
  font-weight: 350;
}

.box-6 {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px;
  background-color: rgb(179, 190, 200);
  border-radius: 1rem;
  flex-basis: 300px;
  padding-bottom: .5em;
  margin-bottom: 1rem;  
  margin-left: 1rem;
  margin-right: 1rem;
}
  
.box-6 p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
  padding: 0 .7em .7em;
  text-indent: 1em;
  color: rgb(41, 43, 44);
  text-align: justify;
  font-weight: 350;
}

.box-7 {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px;
  background-color: rgb(179, 190, 200);
  border-radius: 1rem;
  flex-basis: 300px;
  padding-bottom: .5em;
  margin-bottom: 1rem;  
  margin-left: 1rem;
  margin-right: 1rem;
}
  
.box-7 p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
  padding: 0 .7em .7em;
  text-indent: 1em;
  color: rgb(41, 43, 44);
  text-align: justify;
  font-weight: 350;
}

.box-8 {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px;
  background-color: rgb(179, 190, 200);
  border-radius: 1rem;
  flex-basis: 300px;
  padding-bottom: .5em;
  margin-bottom: 1rem;  
  margin-left: 1rem;
  margin-right: 1rem;
}
  
.box-8 p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
  padding: 0 .7em .7em;
  text-indent: 1em;
  color: rgb(41, 43, 44);
  text-align: justify;
  font-weight: 350;
}

ul {
  display: box;
  font-size: 1em;
  line-height: 1em;
  padding: .7em;
  color: rgb(41, 43, 44);
  margin-left: 40px;
  list-style-type: circle;
  text-align: justify;
}

.container-2 h3 {
  border-radius: 0 0 .9em .9em;
  padding: .8em;
  margin-bottom: .5em;
  font-size: 1.5em;  
  color: rgb(72, 75, 75);
  text-align: center;
  background-color: rgb(145, 168, 172);
}

.container-3 h3 {
  border-radius: 0 0 .9em .9em;
  padding: .8em;
  margin-bottom: .5em;
  font-size: 2em;  
  color: rgb(72, 75, 75);
  text-align: center;
  background-color: rgb(145, 168, 172);
}

.quote-1 {
  font-weight: 250;
  font-size: 1.2em;
  line-height: 1.3em;  
  color: rgb(10, 118, 158); 
  text-align: center;
  margin: 0 .8em .8em;
}

.quote-1 p {
  text-align: center;
  padding: .5em;
  color: rgb(13, 67, 86);
}

h2 {
  padding: .4em;
  font-size: 20px;  
  color: rgb(43, 43, 44);
}

h4 {
  padding-left: 1em;
  padding-bottom: .3em;
  font-size: 18px;  
  color: rgb(13, 47, 47);
}