* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  border: 0;
}

header {
  display: flex;  
  justify-content: space-between;
  align-items: center;  
  background-color: rgb(119, 121, 124);  
}

h2 {
  text-align: center;
  margin: .8em;
  font-size: 1.8em;
}

.logo {
  width: 20%;
  padding: 15px; 
}

.logo2 {
  width: 5%;
}

.menu {
  padding: 0 15px;
}

.nav ul li {
  display: inline-flex;  
  padding: .5em;
  font-family: 'Lucida Sans'; 
  font-weight: 400;   
}

.nav ul li a {
  text-decoration: none;  
  color: antiquewhite;
}

.nav ul li a:hover {
  color: rgb(164, 160, 195);
}

.quote {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.5em;  
  color: rgb(40, 16, 223);  
  margin: .8em; 
  text-align: center;
}

.quote p {
  font-weight: 400;
  font-size: .8em;
}
@media(min-width:765px) {
  .container-2 {
    display: flex; 
    justify-content: space-between; 
  } 

  .container-2 a {
    font-family: "Book Antiqua";
    font-size: 1.8em;
    line-height: 1.8em;
    color: black;  
    text-decoration: none;
  }

  p {
    font-size: 1.4em;
    line-height: 1.2em;
    padding: .5em;
    margin: 15px;
    color: rgb(0, 0, 0);
  }

  ul {
    display: box;
    font-size: 1.4em;
    line-height: 1.2em;
    padding: .5em;
    color: rgb(0, 0, 0);
    margin-left: 40px;
    list-style-type: square;
  }
}

@media(max-width:765px) {
  p {
    font-size: 1em;
    line-height: 1.2em;
    margin: 15px;
    padding: .5em;    
    color: rgb(0, 0, 0);
  }

  ul {
    display: box;
    font-size: 1em;
    line-height: 1.2em;
    padding: .5em;
    color: rgb(0, 0, 0);
    margin-left: 40px; 
    list-style-type: square;   
  }

  .container-2 a {
    font-family: "Book Antiqua";
    font-size: 1.4em;
    line-height: 1em;    
    color: black;  
    text-decoration: none;
  }

  .logo {
    width: 150px;  
  }

  .nav ul li {
    display: block;  
    padding: .2em;
    font-family: 'Lucida Sans'; 
    font-weight: 50;  
    font-size: .8em; 
  }

  h2 {
    text-align: center;
    margin: .2em;
    font-size: 1.2em;
  }
}

@media(max-width:890px){
  .quote {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.2em;  
    color: rgb(40, 16, 223);  
    padding: .4em;
    margin: .4em; 
    text-align: center;
    }    
}

.container-2 div{  
  padding: 1em 15px; 
  flex-basis: 33%    
}

.container-2 a:hover {
  color: rgb(164, 160, 195);  
}

.box-1 {
  flex: 1;
  background-color: rgba(230, 232, 234, 0.469);
}

.box-2 {
  flex: 1;
  background-color: rgba(230, 232, 234, 0.469);
}

.box-3 {
  flex: 1;
  background-color: rgba(230, 232, 234, 0.469);
}

footer {
  display: flex;  
  justify-content: space-around;
  align-items: center;  
  background-color: rgb(119, 121, 124);
}

footer p {
  color: antiquewhite;
}

footer h5 a {
  color: antiquewhite;
}

footer h5 a:hover {
  color: rgb(164, 160, 195);
}
